body {
    margin: 0;
    padding: 0;
    height:100%
}
div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    gap: 0;
    justify-content: stretch;
    align-content: stretch;
    

}

div.flexdiv {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    flex: 1;
    gap: 0;
    justify-content: stretch;
    align-items: stretch;
    
}

div.pixel {
    border: 1px solid black;
    display: flex;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}